@page "/color-hub"
@using Syncfusion.Blazor.Charts;
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns;
@inject NavigationManager NavManager;

<PageTitle>Color Hub</PageTitle>
<h2>Color Hub</h2>
<br />

<a href="color-chart">Color Chart</a>
<br />
<a href="pie-chart">Pie Chart</a>
<br />
<a href="funnel-chart">Funnel Chart</a>
<br />
<a href="pyramid-chart">Pyramid Chart</a>
<br />
<a href="bar-chart">Bar Chart</a>
<br />
<br />


<a href="color-table">Color Table</a>
<br />
<a href="color-select">Color Select</a>