@page "/GanttChart"
@using Syncfusion.Blazor.Notifications
@inject DbContext db;
@inject SelectedPod SelectedPod;

<div class="page-heading">
	<h3 class="header">Project: @ProjectName</h3>
	<p class="subtitle"><a href="">Home</a> / Gantt Chart</p>
</div>

<div class="content-box shadow">
	@if (IsLoading)
	{
		<SfSkeleton Shape="Syncfusion.Blazor.Notifications.SkeletonType.Rectangle" Width="100%" Height="7%"></SfSkeleton>
		<SfSkeleton Shape="Syncfusion.Blazor.Notifications.SkeletonType.Rectangle" Width="100%" Height="90%"></SfSkeleton>
	}
	else
	{
		<SfGantt DataSource="@ganttTaskList" Height="100%" Width="100%" AllowSorting="true" AllowFiltering="true" Toolbar="@(new List<string>() { "Search", "ZoomIn","ZoomOut","ZoomToFit"})">
			<GanttTaskFields Id="Id" Name="String" StartDate="Sdate" EndDate="Edate" Duration="Duration" Dependency="Predecessor" Progress="Progress" ParentID="Parentid" Child="SubTasks"></GanttTaskFields>
			<GanttSelectionSettings Mode="Syncfusion.Blazor.Grids.SelectionMode.Both"></GanttSelectionSettings>
			<GanttEditSettings AllowEditing="false"></GanttEditSettings>
			<GanttSearchSettings Fields="@Searchfields"></GanttSearchSettings>
		</SfGantt>
	}
</div>
