@page "/Interview"
@inject DbContext db            // Inject the ServerDbContext service for database access
@layout MainLayout

@* <div class="page-heading">
    <div class="header-info">
        <div class="page-info">
            <h3 class="header">Noun CRUD</h3>
            <p class="subtitle"><a href="">Home</a> / Noun</p>
        </div>
        <div class="pod-info">
            <p class="subtitle">POD: #@pod | Person: #@pid</p>
        </div>
    </div>
</div> *@

<div class="content-box">
    <div class="component-page">
    </div>
</div>

<style>
    .component-page {
        background: url(images/BG/BGDC_User_Interview.png)no-repeat;
    }

    .content {
        background-color: #0c0606;
    }

    .content-box {
        height: 799px;
        width: 1199px;
        max-width: 1199px;
        max-height: 799px;
        border-radius: unset;
        overflow: hidden;
    }
</style>