@page "/Audio"
@layout MainLayout

<div class="content-box shadow" style="overflow: hidden !important">
	<div class="content-box">
		<div class="media-page">
			<div>
				<audio controls="controls">
					<source src="https://llamalingostorage.blob.core.windows.net/images/Blobs/Audio/Ripingtons.mp3?sp=r&st=2023-09-01T04:00:00Z&se=2024-05-01T04:00:00Z&spr=https&sv=2022-11-02&sr=c&sig=MzFWQg%2BrEGxisPGyf8Z0la%2FTYpWi%2F771NMJ5hD7%2Fjjg%3D">
				</audio>
			</div>
			
			<a href="https://radio.garden/listen/heavy1/rH122vcl">
				<button style="
		position: relative;
		width:200px;
		height:120px;
		left:510px;
		top:500px;
		background-color:white;
		border-radius:0px;
		opacity:10%;
		">
					World Radio
				</button>
			</a>
		</div>
	</div>
</div>

<style>
	.media-page {
		background: url("https://llamalingostorage.blob.core.windows.net/images/images/BG/BG_Audio.png?sp=r&st=2023-09-01T04:00:00Z&se=2024-05-01T04:00:00Z&spr=https&sv=2022-11-02&sr=c&sig=MzFWQg%2BrEGxisPGyf8Z0la%2FTYpWi%2F771NMJ5hD7%2Fjjg%3D") no-repeat;
		opacity: 100%;
		color: white;
		height: 799px;
		width: 1199px;
	}

	.content {
		background-color: #824425;
	}

	.content-box {
		height: 799px;
		width: 1199px;
		max-width: 1199px;
		max-height: 799px;
		border-radius: unset;
		overflow: hidden;
	}

</style>