@page "/Expert"
@inject DbContext db            // Inject the ServerDbContext service for database access
@inject NavigationManager _nav
@layout MainLayout

<div class="menu-page">
	<h3>
		<p>P.O.D.#:@pod</p>
		<p>Person#:@pid</p>
	</h3>

	<!-- ************************************************************************************ -->
	<!-- ******************************** DISPLAY PANELS ************************************ -->
	<!-- ************************************************************************************ -->
	<div class="titlebanner">
		<img src="images/UIpanels/UseCase_xprt.png"/>
	</div>

	<!-- ************************************************************************************ -->
	<!-- *************************** GOAL   TASK   NOVA ***************************** .dbo ** -->
	<!-- ************************************************************************************ -->
	<div class="button-container">
		<button class="buttonMenu01" @onclick="@(()=>_nav.NavigateTo("/Goal?pod="+pod+"&pid="+pid))">
			<!-- Goal (place a text button label here) -->
		</button>

		<button class="buttonMenu02" @onclick="@(()=>_nav.NavigateTo("/Task?pod="+pod+"&pid="+pid))">
			<!-- Task (place a text button label here) -->
		</button>
	
		<button class="buttonMenu03" @onclick="@(()=>_nav.NavigateTo("/Nova?pod="+pod+"&pid="+pid))">
			<!-- NOVA (place a text button label here) -->
		</button>
	</div>
</div>

<style>
	.buttonMenu01 {
		background-image: url("images/buttons/btn_luster_Goal.png");
	}

	.buttonMenu02 {
		background-image: url("images/buttons/btn_luster_Task.png");
	}

	.buttonMenu03 {
		background-image: url("images/buttons/btn_luster_NOVA.png");
	}

</style>