@page "/Administration"
@inject DbContext db            // Inject the ServerDbContext service for database access
@inject NavigationManager _nav
@layout MainLayout


<div class="menu-page">
	<h3>
		<p>P.O.D.#:@pod</p>
		<p>Person#:@pid</p>
	</h3>

	<!-- ************************************************************************************ -->
	<!-- ******************************** DISPLAY PANELS ************************************ -->
	<!-- ************************************************************************************ -->
	<div class="titlebanner">
		<img src="images/UIpanels/UseCase_admn.png" />
	</div>

	<!-- ************************************************************************************ -->
	<!-- *************************** ADMINISTATION ****************************************** -->
	<!-- ************************************************************************************ -->
	<div class="button-container">
		<button class="buttonMenu01" @onclick="@(()=>_nav.NavigateTo("/Person?pod="+pod+"&pid="+pid))">
			<!-- Goal (place a text button label here) -->
		</button>
	
		<button class="buttonMenu02" @onclick="@(()=>_nav.NavigateTo("/NnetRPT01?pod="+pod+"&pid="+pid))">
			<!-- Goal (place a text button label here) -->
		</button>

		<button class="buttonMenu03" @onclick="@(()=>_nav.NavigateTo("/Nova?pod="+pod+"&pid="+pid))">
			<!-- Goal (place a text button label here) -->
		</button>
	</div>
</div>

<style>
	.buttonMenu01 {
		background-image: url("/images/buttons/btn_luster_Person.png");
	}

	.buttonMenu02 {
		background-image: url("/images/buttons/btn_luster_Report.png");
	}

	.buttonMenu03 {
		background-image: url("/images/buttons/btn_luster_NOVA.png");
	}

</style>