@page "/Nnet"
@inject DbContext db            // Inject the ServerDbContext service for database access
@inject NavigationManager _nav
@layout MainLayout

@* <div class="page-heading">
	<div class="header-info">
		<div class="page-info">
			<h3 class="header">Neural Net</h3>
			<p class="subtitle"><a href="">Home</a> / Neural Net</p>
		</div>
		<div class="pod-info">
			<p class="subtitle">POD: #@pod | Person: #@pid</p>
		</div>
	</div>
</div>
 *@
<div class="content-box">
	<div class="menu-page">
		<!-- ************************************************************************************ -->
		<!-- ******************************** DISPLAY PANELS ************************************ -->
		<!-- ************************************************************************************ -->

		<div class="titlebanner">
			<img src="https://llamalingostorage.blob.core.windows.net/images/images/UIpanels/UseCase_ainn.png?sp=r&st=2023-09-01T04:00:00Z&se=2024-05-01T04:00:00Z&spr=https&sv=2022-11-02&sr=c&sig=MzFWQg%2BrEGxisPGyf8Z0la%2FTYpWi%2F771NMJ5hD7%2Fjjg%3D" />
		</div>
		
		<!-- ************************************************************************************ -->
		<!-- *************************** Neural Net ********************************************* -->
		<!-- ************************************************************************************ -->
		<div class="button-container">
			<button class="buttonMenu01" @onclick="@(()=>_nav.NavigateTo("/Report?pod="+pod+"&pid="+pid))">
				<!-- Goal (place a text button label here) -->
			</button>

			<button class="buttonMenu02" @onclick="@(()=>_nav.NavigateTo("/Verb?pod="+pod+"&pid="+pid))">
				<!-- Goal (place a text button label here) -->
			</button>

			<button class="buttonMenu03" @onclick="@(()=>_nav.NavigateTo("/Nova?pod="+pod+"&pid="+pid))">
				<!-- Goal (place a text button label here) -->
			</button>
		</div>
	</div>
</div>

<style>
	.buttonMenu01 {
		background-image: url("https://llamalingostorage.blob.core.windows.net/images/images/buttons/Btn_Luster_Report.png?sp=r&st=2023-09-01T04:00:00Z&se=2024-05-01T04:00:00Z&spr=https&sv=2022-11-02&sr=c&sig=MzFWQg%2BrEGxisPGyf8Z0la%2FTYpWi%2F771NMJ5hD7%2Fjjg%3D");
	}

	.buttonMenu02 {
		background-image: url("https://llamalingostorage.blob.core.windows.net/images/images/buttons/Btn_Luster_Verb.png?sp=r&st=2023-09-01T04:00:00Z&se=2024-05-01T04:00:00Z&spr=https&sv=2022-11-02&sr=c&sig=MzFWQg%2BrEGxisPGyf8Z0la%2FTYpWi%2F771NMJ5hD7%2Fjjg%3D");
	}

	.buttonMenu03 {
		background-image: url("https://llamalingostorage.blob.core.windows.net/images/images/buttons/Btn_Luster_NOVA.png?sp=r&st=2023-09-01T04:00:00Z&se=2024-05-01T04:00:00Z&spr=https&sv=2022-11-02&sr=c&sig=MzFWQg%2BrEGxisPGyf8Z0la%2FTYpWi%2F771NMJ5hD7%2Fjjg%3D");
	}

	.content {
		background-color: black;
	}

	.content-box {
		height: 1080px;
		width: 1920px;
		max-width: 1920px;
		max-height: 1080px;
		border-radius: unset;
		overflow: hidden;
	}
</style>