@page "/Academy"
@inject DbContext db            // Inject the ServerDbContext service for database access
@inject NavigationManager _nav
@layout MainLayout

<div class="menu-page">
	<h3>
		<p>P.O.D.#:@pod</p>
		<p>Person#:@pid</p>
	</h3>

	<!-- ************************************************************************************ -->
	<!-- ******************************** DISPLAY PANELS ************************************ -->
	<!-- ************************************************************************************ -->
	<div class="titlebanner">
		<img src="images/UIpanels/UseCase_acad.png" />
	</div>

	<!-- ************************************************************************************ -->
	<!-- *************************** ACADEMY REPORTS **************************************** -->
	<!-- ************************************************************************************ -->
	<div class="button-container">
		<button class="buttonMenu01" @onclick="@(()=>_nav.NavigateTo("/AcademyRpt01?pod="+pod+"&pid="+pid))">
			<!-- Goal (place a text button label here) -->
		</button>

		<button class="buttonMenu02" @onclick="@(()=>_nav.NavigateTo("/Verb?pod="+pod+"&pid="+pid))">
			<!-- Goal (place a text button label here) -->
		</button>	
		
		<button class="buttonMenu03" @onclick="@(()=>_nav.NavigateTo("/Nova?pod="+pod+"&pid="+pid))">
			<!-- Goal (place a text button label here) -->
		</button>
	</div>
</div>

<style>
	.buttonReport01 {
		background-image: url("images/buttons/btn_luster_Report.png");
	}

	.buttonMenu02 {
		background-image: url("images/buttons/btn_luster_Verb.png");
	}

	.buttonMenu03 {
		background-image: url("images/buttons/btn_luster_NOVA.png");
	}
</style>
