@page "/Engineer"
@inject DbContext db            // Inject the ServerDbContext service for database access
@inject NavigationManager _nav
@layout MainLayout

@* <div class="page-heading">
	<div class="header-info">
		<div class="page-info">
			<h3 class="header">Engineer</h3>
			<p class="subtitle"><a href="">Home</a> / Engineer</p>
		</div>
		<div class="pod-info">
			<p class="subtitle">POD: #@pod | Person: #@pid</p>
		</div>
	</div>
</div>
 *@

<div class="content-box">
	<div class="menu-page">
		<!-- ************************************************************************************ -->
		<!-- ******************************** DISPLAY PANELS ************************************ -->
		<!-- ************************************************************************************ -->

		<div class="titlebanner">
			<img src="images/UIpanels/UseCase_engr.png" />
		</div>

		<!-- ************************************************************************************ -->
		<!-- *************************** GOAL   TASK   NOVA ***************************** .dbo ** -->
		<!-- ************************************************************************************ -->

		<div class="button-container">
			<button class="buttonMenu01" @onclick="@(()=>_nav.NavigateTo("/Noun?pod="+pod+"&pid="+pid))">
				<!-- Goal (place a text button label here) -->
			</button>

			<button class="buttonMenu02" @onclick="@(()=>_nav.NavigateTo("/Verb?pod="+pod+"&pid="+pid))">
				<!-- Goal (place a text button label here) -->
			</button>

			<button class="buttonMenu03" @onclick="@(()=>_nav.NavigateTo("/Nova?pod="+pod+"&pid="+pid))">
				<!-- Goal (place a text button label here) -->
			</button>
		</div>
	</div>
</div>


<style>
	.buttonMenu01 {
		background-image: url("images/buttons/btn_luster_Noun.png");
	}

	.buttonMenu02 {
		background-image: url("images/buttons/btn_luster_Verb.png");
	}

	.buttonMenu03 {
		background-image: url("images/buttons/btn_luster_NOVA.png");
	}

	.content, .content-box {
		background-color: black;
	}

	.content-box {
		height: 1080px;
		width: 1920px;
		max-width: 1920px;
		max-height: 1080px;
		border-radius: unset;
		overflow: hidden;
	}

</style>