@page "/Instruction_Manual"
@using Syncfusion.Blazor.PdfViewer
@using Syncfusion.Blazor.PdfViewerServer

<div class="page-heading">
	<h3 class="header">PDF Viewer</h3>
	<p class="subtitle"><a href="">Home</a> / PDF Viewer</p>
</div>

<div class="content-box shadow">
	<SfPdfViewerServer EnableDesktopMode="true" DocumentPath=@DocumentPath Height="100%" Width="100%"></SfPdfViewerServer>
</div>

<style>
	.content {
		padding: 30px 30px 70px 30px;
	}

	.content-box {
		height: 100%;
		min-height: 400px;
		overflow: auto;
		border-radius: 20px;
	}
</style>