@page "/RadarChart"
@using Syncfusion.Blazor.Charts

<div class="page-heading">
    <h3 class="header">Radar Chart</h3>
    <strong><p class="subtitle"><a href="">Home</a> / Radar Chart</p></strong>
</div>

<div class="content-box shadow">
	<SfChart Theme="Theme.Fluent">
		<ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
		<ChartSeriesCollection>
			<ChartSeries DataSource="@dataSource" Type="ChartSeriesType.Radar" Name="Germany" XName="xValue" YName="yValue">
			</ChartSeries>
			<ChartSeries DataSource="@dataSource" Type="ChartSeriesType.Radar" Name="England" XName="xValue" YName="yValue1">
			</ChartSeries>
		</ChartSeriesCollection>
		<ChartTooltipSettings Enable="true"></ChartTooltipSettings>
		<ChartZoomSettings EnableSelectionZooming="true"></ChartZoomSettings>
	</SfChart>
</div>

<style>
    .e-timeline-header-container {
        width: 100% !important;
    }

    .subtitle a:active, .subtitle a:hover, .subtitle a {
        color: var(--top-navbar-color);
        text-decoration: none;
    }
</style>
