@page "/RadarChart"
@using Syncfusion.Blazor.Charts
@inject DbContext db;
@inject SelectedPod SelectedPod

<div class="page-heading">
    <h3 class="header">Radar Chart</h3>
	<p class="subtitle"><a href="">Home</a> / Radar Chart</p>
</div>

<div class="content-box shadow">
	@if (IsLoading)
	{
		
	}
	else
	{
		<SfChart Theme="Theme.Fluent">
			<ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
			<ChartSeriesCollection>
				@foreach(var item in weeklyPypeDetails)
				{
					<ChartSeries DataSource="@item" Type="ChartSeriesType.Radar" Name="@item.First().NounLabel" XName="ElementLabel" YName="ChartData1"></ChartSeries>
				}
	 		</ChartSeriesCollection>
			<ChartTooltipSettings Enable="true"></ChartTooltipSettings>
			<ChartZoomSettings EnableSelectionZooming="true"></ChartZoomSettings>
		</SfChart>
	}
</div>
