@page "/Report"

@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components
@inject IJSRuntime JSRuntime
@using LlamaLingo.Data;

<div id="designer" style="width: 100%;height: 100%"></div>

<style>

	.e-scroller.e-autohide .e-vscrollbar, .e-scroller.e-autohide .e-vscroll, .e-scrollbar .e-vscroll, .e-scrollbar .e-hscroll, .e-scrollbar .e-vhandlespace, .e-scroller .e-vscroll .e-vup.e-button, .e-scroller .e-vscroll .e-vdown.e-button, .e-scroller .e-hscroll .e-hup.e-button, .e-scroller .e-hscroll .e-hdown.e-button {
        z-index: -1000;
    }

</style>