.page[b-ev0ybvepx7] {
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Styling the sidebar */
.topnav[b-ev0ybvepx7] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

#Sidebar .navbar[b-ev0ybvepx7] {
    justify-content: flex-start;
    padding: 0.5rem 0rem;
}

.navbar-toggler[b-ev0ybvepx7] {
    display: inline-block;
    border: none;
    width: 24px;
    height: 24px;
    margin-left: 30px;
    background-image: url('images/ToggleButton.png');
    background-color: #05163C;
    transform: scale(0.75);
    transform-origin: left;
    color: #ffffff;
}

.navbar-dark .navbar-toggler[b-ev0ybvepx7] {
    color: transparent;
    border-color: transparent;
}

.navbar-brand[b-ev0ybvepx7] {
    font-size: 1.1rem;
    margin-right: 24px;
}

.sidebar[b-ev0ybvepx7] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    width: 300px;
    min-width: 300px;
}

@media (min-width: 641px) {
    .navbar-toggler[b-ev0ybvepx7] {
        display: block;
    }

    .collapse[b-ev0ybvepx7] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.main[b-ev0ybvepx7] {
    flex: 1;
}

/* Styling the top row */
.top-row[b-ev0ybvepx7] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    padding: 0.5rem 0rem;
}

    .top-row[b-ev0ybvepx7]  a, .top-row .btn-link[b-ev0ybvepx7] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-ev0ybvepx7] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-ev0ybvepx7] {
        display: none;
    }

    .top-row.auth[b-ev0ybvepx7] {
        justify-content: space-between;
    }

    .top-row a[b-ev0ybvepx7], .top-row .btn-link[b-ev0ybvepx7] {
        margin-left: 0;
    }
}

@media (min-width: 0px) {
    .page[b-ev0ybvepx7] {
        flex-direction: row;
    }

    .sidebar[b-ev0ybvepx7] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ev0ybvepx7] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-ev0ybvepx7] {
        padding-left: 1rem !important;
        padding-right: 1.5rem !important;
    }
}