/* Styling the scroller for the navigation menu sidebar */
.sidebar-scroller {
    height: calc(90% - 160px) !important;
    overflow-y: auto;
    margin-top: 5px;
}

    .sidebar-scroller::-webkit-scrollbar, scrollbar-thumb
    .sidebar-scroller::-webkit-scrollbar-thumb {
        width: 8px;
        height: 110px;
        border-radius: 4px;
        position: center;
    }

    .sidebar-scroller::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 0 10px #313C75;
        border-radius: 4px;
    }

    .sidebar-scroller::-webkit-scrollbar-track {
        width: 28px;
    }

/* Styling the separator on the navigation sidebar when it is opended */
.separator {
    border: 1px solid #FFFFFF;
    opacity: 0.14;
    width: 100%;
}