/* _content/LlamaLingo/Shared/ChatMenu.razor.rz.scp.css */
/* Styling the messages */
	/* Styling receiver messages */
	.border-radius-left[b-w1qp062h67] {
		border-radius: 25px 25px 25px 0px;
	}

	.text-align-left[b-w1qp062h67] {
		text-align: left;
	}

	.default-color[b-w1qp062h67] {
		background-color: var(--chat-bubble-color);
	}

	/* Styling sender messages */
	.border-radius-right[b-w1qp062h67] {
		border-radius: 25px 25px 0px 25px;
	}

	.text-align-right[b-w1qp062h67] {
		text-align: right;
	}

.main-color[b-w1qp062h67] {
	background-color: var(--chat-bubble-color);
}

.text-align-left[b-w1qp062h67], .text-align-right[b-w1qp062h67] {
	font-size: 0.90rem;
}

.dialogContent[b-w1qp062h67] {
	display: block;
	font-size: 1.1rem;
	word-wrap: break-word;
	text-align: center;
	font-style: italic;
	border-radius: 6px;
	padding: 3%;
	position: relative;
	top: 25px;
	color: var(--chat-text-color);
	max-width: 200px;
	min-width: 200px;
}

	.dialogContent .dialogText[b-w1qp062h67] {
		font-size: 1.1rem;
		padding: 0.75em;
		word-wrap: break-word;
		font-style: initial;
		display: block;
		color: var(--chat-text-color);
		text-align: left;
	}

/* Styling the footer */
.footer[b-w1qp062h67] {
	font-size: 16px;
	width: 90%;
	margin: 0px auto auto auto;
}

.form[b-w1qp062h67] {
	display: flex;
	position: relative;
	margin-top: 1%;
	border-radius: 25px;
	padding: 0.15em;
	color: white;
	background-color: #ffffff33;
}

	.username-input[b-w1qp062h67], .message-input[b-w1qp062h67] {
		color: #ffffff;
		border: none;
		background-color: transparent;
		outline: none;
	}

	.username-input[b-w1qp062h67] {
		padding: 0.375rem 1.50rem; /* Left and right padding should be double the size of the textarea padding */
		flex: 1;
		margin-top: 1%;
	}

.message-input[b-w1qp062h67] {
	resize: none;
	border-radius: 0px;
	margin: 0px 10px;
	flex: 4;
	overflow-x: hidden;
	padding: 0.375rem 0.75rem;
	width: 100%;
}

	.message-input[b-w1qp062h67]::placeholder, .username-input[b-w1qp062h67]::placeholder {
		color: #ffffff; /* Specify the color you want for the placeholder text */
	}

/* Styling the send button */
.send-button[b-w1qp062h67] {
	flex: 1;
	border-radius: 25px;
	cursor: pointer;
	color: #ffffff;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	border: none;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	background-image: var(--background-gradient);
}

/* Styling the scroller for the message input and chat menu*/
	.scroller[b-w1qp062h67] {
	height: calc(100vh - 160px) !important;
	overflow-y: auto;
	overflow-x: hidden;
}

	.scroller[b-w1qp062h67]::-webkit-scrollbar, scrollbar-thumb
	.scroller[b-w1qp062h67]::-webkit-scrollbar-thumb, 
	.message-input[b-w1qp062h67]::-webkit-scrollbar, scrollbar-thumb .message-input[b-w1qp062h67]::-webkit-scrollbar-thumb {
		width: 8px;
		height: 110px;
		border-radius: 4px;
		position: center;
	}

	.scroller[b-w1qp062h67]::-webkit-scrollbar-thumb,
	.message-input[b-w1qp062h67]::-webkit-scrollbar-thumb {
		box-shadow: inset 0 0 0 10px #313C75;
		border-radius: 4px;
	}

	.scroller::-webkit-scrollbar-track 
	.message-input[b-w1qp062h67]::-webkit-scrollbar-track {
		width: 28px;
	}
/* _content/LlamaLingo/Shared/MainLayout.razor.rz.scp.css */
.page[b-ev0ybvepx7] {
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Styling the sidebar */
.topnav[b-ev0ybvepx7] {
    height: 3.5rem;
    background-color: var(--top-navbar-color);
}

#Sidebar .navbar[b-ev0ybvepx7] {
    justify-content: flex-start;
    padding: 0.5rem 0rem;
}

.navbar-toggler[b-ev0ybvepx7] {
    display: inline-block;
    border: none;
    width: 24px;
    height: 24px;
    margin-left: 30px;
    background-image: url('images/ToggleButton.png');
    transform: scale(0.75);
    transform-origin: left;
    color: #ffffff;
}

.navbar-dark .navbar-toggler[b-ev0ybvepx7] {
    color: transparent;
    border-color: transparent;
}

.navbar-brand[b-ev0ybvepx7] {
    font-size: 1.1rem;
    margin-right: 24px;
}

.sidebar[b-ev0ybvepx7] {
    background-image: var(--background-gradient);
    width: 300px;
    min-width: 300px;
}

@media (min-width: 641px) {
    .navbar-toggler[b-ev0ybvepx7] {
        display: block;
    }

    .collapse[b-ev0ybvepx7] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.main[b-ev0ybvepx7] {
    flex: 1;
}

/* Styling the top row */
.top-row[b-ev0ybvepx7] {
    background-color: var(--top-navbar-color);
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    padding: 0.5rem 0rem;
}

    .top-row[b-ev0ybvepx7]  a, .top-row .btn-link[b-ev0ybvepx7] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

@media (min-width: 0px) {
    .page[b-ev0ybvepx7] {
        flex-direction: row;
    }

    .sidebar[b-ev0ybvepx7] {
        width: 250px;
        height: 100%;
        position: sticky;
        top: 0;
    }

    .top-row[b-ev0ybvepx7] {
        position: sticky; 
        top: 0;
        z-index: 1;
    }
}
/* _content/LlamaLingo/Shared/NavMenu.razor.rz.scp.css */
/* Styling the scroller for the navigation menu sidebar */
.sidebar-scroller[b-fcj46uwyos] {
    height: calc(90% - 160px) !important;
    overflow-y: auto;
    margin-top: 5px;
}

    .sidebar-scroller[b-fcj46uwyos]::-webkit-scrollbar, scrollbar-thumb
    .sidebar-scroller[b-fcj46uwyos]::-webkit-scrollbar-thumb {
        width: 8px;
        height: 110px;
        border-radius: 4px;
        position: center;
    }

    .sidebar-scroller[b-fcj46uwyos]::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 0 10px #313C75;
        border-radius: 4px;
    }

    .sidebar-scroller[b-fcj46uwyos]::-webkit-scrollbar-track {
        width: 28px;
    }

/* Styling the separator on the navigation sidebar when it is opended */
.separator[b-fcj46uwyos] {
    border: 1px solid #FFFFFF;
    opacity: 0.14;
    width: 100%;
}
