@page "/pyramid-chart"
@using Syncfusion.Blazor.Charts;
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns;
@inject NavigationManager NavManager;

<PageTitle>Pyramid Chart</PageTitle>
<h2>Pyramid Chart</h2>
<br />

<SfButton OnClick="ToColorTable">Back</SfButton>
<SfButton OnClick="NextDatapoint">Next Datapoint</SfButton>

<SfAccumulationChart Title="@title">
	<AccumulationChartSeriesCollection>
		<AccumulationChartSeries Type="AccumulationType.Pyramid"
			DataSource="@ChartData" XName="Month" YName="Temperature">
			
		</AccumulationChartSeries>
		<AccumulationChartTooltipSettings Enable="true">

		</AccumulationChartTooltipSettings>
	</AccumulationChartSeriesCollection>
</SfAccumulationChart>

@code {

	public String title = "Ekrienne";

	public class ChartDataModel
	{
		public string Month { get; set; }
		public double Temperature { get; set; }
	}

	public static List<ChartDataModel> ChartData = new List<ChartDataModel>
	{
		new ChartDataModel {Month = "Red Strength", Temperature = 1},
		new ChartDataModel {Month = "Green Strength", Temperature = 21},
		new ChartDataModel {Month = "Blue Strength", Temperature = 12}
	};

	public static List<string> Names = new List<string> {
		"Test",
		"Test2",
		"Test3"
	};
	
	public static List<bool> includeColumn = LlamaChartInterface.getIncludeColumn();

	protected override void OnInitialized()
	{
		base.OnInitialized();
		includeColumn = LlamaChartInterface.getIncludeColumn();

		var components = ColorManage.getComponents(includeColumn);
		var componentNames = ColorManage.getComponentNames(includeColumn);
		List<ChartDataModel> NewChartData = new List<ChartDataModel>();
		for (int i = 0; i < components.Count; i++)
		{
			NewChartData.Add(new ChartDataModel { Month = componentNames[i], Temperature = components[i] });
		}
		ChartData = NewChartData;
		title = ColorManage.getThisColor() + " (ID " + ColorManage.getCurrentId() + ")";
	}

	public void ToColorTable()
	{
		NavManager.NavigateTo("/color-hub");

	}

	public void NextDatapoint()
	{
		ColorManage.setCurrentId(NextItem.GetNextID(ColorManage.getCurrentId()));
		OnInitialized();
	}
}