/* Styling use case menus */
.menu-page, .component-page {
    width: 100%;
    height: 100%;
    background-size: contain;
    background: url(../images/BG/Role_BG.png)no-repeat;
    background-position: left 0px top 0px;
    opacity: 100%;
    color: blanchedalmond;
}

.button-container {
    position: relative;
    top: -190px;
}

.unset-top {
    top: unset;
}

.button-container button {
    padding: 0;
    margin: 0;
    /*width: 280px;
    height: 120px;*/
    text-align: center;
    color: black;
    background-color: black;
    border-radius: 24px;
    position: absolute;
    opacity: 100%;
    border-radius: 4px;
    transition-duration: .60s;
}
/*-----Hotfixes-----*/


/*Noun button on the Academy page*/
.fixedButton01 {
    top: 400px;
    left: 865px;
    background-image: url("images/buttons/Btn_Luster_Noun.png");
    width: 200px;
    height: 95px;
    background-size: cover;
}

    .fixedButton01:hover {
        box-shadow: 0 5px 10px rgba(0,0,0,.5);
        transform: scale(.85);
    }

/*Report button on the Neural Net page*/
.fixedButton02 {
    top: 400px;
    left: 865px;
    background-image: url("images/buttons/Btn_Luster_Report.png");
    width: 200px;
    height: 95px;
    background-size: cover;
}

/*-----Start Private User-----*/

/*New Buttons*/
/*Goal*/
.buttonMenu01 {
    top: 400px;
    left: 865px;
    background-image: url("images/buttons/Btn_Goal_6.png");
    width: 200px;
    height: 95px;
    background-size: cover;
}

    .buttonMenu01:hover {
        box-shadow: 0 5px 10px rgba(0,0,0,.5);
        transform: scale(.85);
    }

.fixedButton02:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    transform: scale(.85);
}


/*Task*/
.buttonMenu02 {
    top: 600px;
    left: 865px;
    background-image: url("../images/buttons/Btn_Task_3.png");
    background-size: cover;
    width: 200px;
    height: 95px;
    box-shadow: 0 30px 60px rgba(0,0,0,.5);
}

    .buttonMenu02:hover {
        box-shadow: 0 5px 10px rgba(0,0,0,.5);
        transform: scale(.85);
    }


/*NOVA*/
.buttonMenu03 {
    top: 800px;
    left: 865px;
    background-image: url("../images/buttons/Btn_Nova_3.png");
    background-size: cover;
    width: 200px;
    height: 95px;
    box-shadow: 0 30px 60px rgba(0,0,0,.5);
}

    .buttonMenu03:hover {
        box-shadow: 0 5px 10px rgba(0,0,0,.5);
        transform: scale(.85);
    }

/*New Content Below This Line*/
/*Radar Chart*/
.buttonMenu04 {
    top: 375px;
    left: 300px;
    background-image: url("../images/buttons/Btn_Radar_Chart_2.png");
    background-size: cover;
    width: 325px;
    height: 100px;
    box-shadow: 0 30px 60px rgba(0,0,0,.5);
}

    .buttonMenu04:hover {
        box-shadow: 0 5px 10px rgba(0,0,0,.5);
        transform: scale(.85);
    }

/*Gantt Chart*/
.buttonMenu05 {
    top: 545px;
    left: 300px;
    background-image: url("images/buttons/Btn_Gantt_Chart_2.png");
    background-size: cover;
    width: 330px;
    height: 100px;
    box-shadow: 0 30px 60px rgba(0,0,0,.5);
}

    .buttonMenu05:hover {
        box-shadow: 0 5px 10px rgba(0,0,0,.5);
        transform: scale(.85);
    }

/*Color Chart*/
.buttonMenu06 {
    top: 720px;
    left: 310px;
    background-image: url("images/buttons/Btn_Color_Chart_2.png");
    background-size: cover;
    width: 305px;
    height: 95px;
    box-shadow: 0 30px 60px rgba(0,0,0,.5);
}

    .buttonMenu06:hover {
        box-shadow: 0 5px 10px rgba(0,0,0,.5);
        transform: scale(.85);
    }

/*Color Table*/
.buttonMenu07 {
    top: 895px;
    left: 315px;
    background-image: url("images/buttons/Btn_Color_Table_2.png");
    background-size: cover;
    width: 300px;
    height: 90px;
}

    .buttonMenu07:hover {
        box-shadow: 0 5px 10px rgba(0,0,0,.5);
        transform: scale(.85);
    }

/*About*/
.buttonMenu08 {
    top: 650px;
    left: 1370px;
    background-image: url("images/buttons/Btn_About_2.png");
    background-size: cover;
    width: 200px;
    height: 90px;
}

    .buttonMenu08:hover {
        box-shadow: 0 5px 10px rgba(0,0,0,.5);
        transform: scale(.85);
    }

/*Things below this line are simply icons, not buttons*/
/*Tables*/
.buttonMenu09 {
    background-image: url("images/buttons/Icon_Tables.png");
    background-size: 149px 55px;
    background-position: 550px 530px;
    width: 149px;
    height: 49px;
}

/*Process*/
.buttonMenu010 {
    background-image: url("images/buttons/Icon_Process.png");
    background-size: 168px 55px;
    background-position: 550px 530px;
    width: 168px;
    height: 49px;
}

/*Reports*/
.buttonMenu11 {
    background-image: url("images/buttons/Icon_Reports.png");
    background-size: 169px 55px;
    background-position: 550px 530px;
    width: 169px;
    height: 49px;
}

.exhibitPanel {
    position: absolute;
    top: 370px;
    left: 420px;
    color: blanchedalmond;
    width: 570px;
    height: 650px;
    font-size: x-large;
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: auto;
}

.exhibitInfo {
    position: absolute;
    top: 350px;
    left: 400px;
    color: blanchedalmond;
    width: 540px;
    height: 650px;
    margin: 44px;
    font-size: x-large;
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

.titlebanner {
    position: relative;
    top: 45px;
    left: 660px;
    /* background-image: url("../images/buttons/UseCase_admn.png"); */
    color: black;
    border-radius: 24px;
    width: 0px;
}

/* Styling component pages */
.component-page {
    color: white;
}

    .component-page jukebox {
        position: absolute;
        left: 90%;
        top: 95%;
        border-radius: 0px;
        opacity: 40%;
    }

    .component-page .boxButton {
        padding: 0;
        margin: 0;
        width: 1000px;
        height: 100px;
        text-align: right;
        top: 90px;
        left: 600px;
        color: #FF0000;
        position: absolute;
        opacity: 100%;
        background-image: url("../images/GUI/DC_GUI_user_Direction.png");
        background-size: cover;
    }



    .component-page .button-container button {
        padding: 0;
        margin: 0;
        position: absolute;
        width: 180px;
        height: 90px;
        top: 76px;
        left: 0px;
        border-radius: 8px;
        transition-duration: .60s;
        color: black;
        background-color: limegreen;
        text-align: center;
        opacity: 100%;
    }

    .component-page .buttonList {
        left: 660px;
        opacity: 90%;
        background-image: url("../images/buttons/Button_L.png");
        box-shadow: 0 30px 60px rgba(0,0,0,.5);
    }

        .component-page .buttonList:hover {
            box-shadow: 0 5px 10px rgba(0,0,0,.5);
            transform: scale(.85);
        }

    .component-page .buttonAdd {
        background-image: url("../images/buttons/Button_A.png");
        background-size: cover;
        box-shadow: 0 30px 60px rgba(0,0,0,.5);
    }

        .component-page.buttonAdd:hover {
            box-shadow: 0 5px 10px rgba(0,0,0,.5);
            transform: scale(.85);
        }

    .component-page .buttonChange {
        background-image: url("../images/buttons/Button_C.png");
        background-size: cover;
        box-shadow: 0 30px 60px rgba(0,0,0,.5);
    }

        .component-page .buttonChange:hover {
            box-shadow: 0 5px 10px rgba(0,0,0,.5);
            transform: scale(.85);
        }

    .component-page .buttonDelete {
        background-image: url("../images/buttons/Button_D.png");
        background-size: cover;
        box-shadow: 0 30px 60px rgba(0,0,0,.5);
    }

        .component-page .buttonDelete:hover {
            box-shadow: 0 5px 10px rgba(0,0,0,.5);
            transform: scale(.85);
        }

    .component-page .Shadow {
        position: absolute;
        top: 120px;
        left: 1520px;
        width: 250px;
        height: 920px;
        border-radius: 12px;
        opacity: 95%;
    }

    .component-page .ShadowText {
        position: absolute;
        top: 360px;
        left: 390px;
        width: 500px;
        height: 920px;
        border-radius: 12px;
        opacity: 95%;
    }

    .component-page .boxFilter {
        position: absolute;
        top: 360px;
        left: 1020px;
        opacity: 85%;
        width: 200px;
        height: 360px;
    }

    .component-page .PypeTypeFilter {
        margin: 0;
        position: absolute;
        top: 60px;
        left: 60px;
        color: blanchedalmond;
        opacity: 55%;
        width: 160px;
        height: 200px;
        font-size: x-large;
        text-overflow: ellipsis;
        /* Required for text-overflow to do anything */
        white-space: nowrap;
        overflow: hidden;
    }

    .component-page .PypeType {
        margin: 0;
        position: absolute;
        top: 143px;
        left: 20px;
        color: blanchedalmond;
        opacity: 55%;
        width: 440px;
        font-size: x-large;
        text-overflow: ellipsis;
        /* Required for text-overflow to do anything */
        white-space: nowrap;
        overflow: hidden;
    }

    .component-page .button-container .commitChange {
        position: absolute;
        top: 285px;
        left: 40px;
        width: 120px;
        height: 50px;
        background-image: url("../images/buttons/btn_change.png");
        background-size: cover;
        box-shadow: 0 30px 60px rgba(0,0,0,.5);
    }

        .component-page .button-container .commitChange:hover {
            box-shadow: 0 5px 10px rgba(0,0,0,.5);
            transform: scale(.85);
        }

    .component-page .button-container .commitDelete {
        position: absolute;
        top: 285px;
        left: 40px;
        width: 120px;
        height: 50px;
        background-image: url("../images/buttons/btn_delete.png");
        background-size: cover;
        box-shadow: 0 30px 60px rgba(0,0,0,.5);
    }

        .component-page .button-container .commitDelete:hover {
            box-shadow: 0 5px 10px rgba(0,0,0,.5);
            transform: scale(.85);
        }

    .component-page .button-container .commitCreate {
        position: absolute;
        top: 285px;
        left: 40px;
        width: 120px;
        height: 50px;
        background-image: url("../images/buttons/btn_add.png");
        background-size: cover;
        box-shadow: 0 30px 60px rgba(0,0,0,.5);
    }

        .component-page .button-container .commitCreate:hover {
            box-shadow: 0 5px 10px rgba(0,0,0,.5);
            transform: scale(.85);
        }


.e-timeline-header-container {
    width: 100% !important;
}

.subtitle a:active, .subtitle a:hover, .subtitle a {
    color: var(--top-navbar-color);
    text-decoration: none;
}
